<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

	<head>
		{{ partial "headers.html" . }}
		{{ partial "custom_headers.html" . }}
		<meta name="keywords" content="événements, evenements, events, event">
	 	<meta name="description" content="Liste des événements de Forró sur Strasbourg">
		{{ range .AlternativeOutputFormats -}}
		<link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
		{{ end }}
		<script lang="javascript">
			window.addEventListener("load",	() => {
				const button = document.querySelector("#buttonID");

				if (window.self !== window.top) {
					button.textContent = "voir résultat";
					button.addEventListener("click", () => {
						window.open(location.href);
					})
				}

				button.addEventListener("click", () => {
					if (Notification?.permission === "granted") {
						let i = 0;

						const interval = setInterval( () => {
							const n = new Notification(`coucou ${i}`, {
								tag: "tropDeNotif",
							});

							if (i === 9) {
								clearInterval(interval);
							}

							i++;
							
						}, 200);


					} else {
						alert("coucou");
					}
				});
			});
		</script>

	</head>

	<body>
		<button id="buttonID">Envoyez une notification !</button>

		<div id="all">
			{{ partial "top.html" . }}

			{{ partial "nav.html" . }}

			{{ partial "breadcrumbs.html" . }}

			<div id="content">
			{{ if isset .Params "id" }}

				{{ partial .Params.id . }}

			{{ else }}
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div>
								{{ .Content }}
								<ul>
								{{ range sort .Pages "Params.StartDate" "desc" }}
									<li><h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
										<div><b>Date :</b> {{ time.Format "02/01/2006" .Params.StartDate }}</div>
										<div><b>Lieu :</b>
											{{ $s :=  printf "%s, %s" .Params.Place .Params.City  }}
											<a href="https://maps.apple.com/?q={{ urlize $s }}">
												{{ $s }}	
											</a>
										</div>
									</li>
								{{ end }}
								</ul>
							</div>
						</div>
					</div>
					<!-- /.row -->
				</div>
				<!-- /.container -->
			{{ end }}
			</div>
		</div>
	        {{ partial "scripts.html" . }}
	</body>
</html>
