---
title: "🎵 Bal Forró Strasbourg à la Kulture ! 💃🪗△🥁🇧🇷🕺"
description: "Bal Forró Strasbourg à la Kulture ! 💃🪗△🥁🇧🇷🕺"
startDate: "{{.Date}}T18:30:00+02:00"
endDate:   "{{.Date}}T23:00:00+02:00"
place: La Kulture, 9 rue des bateliers
city: Strasbourg
price: gratuit (consommation sur place boisson et repas)
banner: "/evenements/banners/kulture-forro.jpeg"
social_media:
  instagram: https://www.instagram.com/lakulture.v2/

facebook_site: "61562489966778"
facebook_author: "topmoumoute"
---

Olá, forrozeir@s!

Ce sera de 18h30 à 23h au 9 Rue des Bateliers (à deux pas des quais où on danse d'habitude) et il y aura une initiation à 19h.

L'entrée est gratuite, mais pour que le bar puisse continuer à nous accueillir, on vous invite à consommer au moins une boisson et/ou snack par personne. Ils proposent une large gamme de boissons avec ou sans alcool, dont des cocktails délicieux, ainsi que des wraps et des feuilletés si vous voulez manger sur place (https://www.la-kulture.com/). Et si vous arrivez avant 22h, vous pouvez aussi profiter du happy hour :)
Pour ceux qui ne connaissent pas ce bar/café hyper sympa, voici quelques photos sur leur Instagram : https://www.instagram.com/lakulture.v2/

N’hésitez pas à inviter aussi vos amis qui ne connaissent pas encore le forró. L’initiation sera l’occasion pour eux de découvrir une nouvelle danse :)

TLDR :
- Quoi ? Bal forró avec initiation
- Quand ? Le mardi 11/11 de 18h30 à 23h, initiation à 19h
- Où ? La Kulture (9 Rue des Bateliers, dans leur caveau)
- Combien ? Entrée gratuite mais merci de consommer au bar 🙏🏽

Voilà, venez nombreux, parlez-en autour de vous et à mardi ! 💃🏽🕺

# Vidéos

## Forró

<iframe width="560" height="315" src="https://www.youtube.com/embed/xCM17UIY6UU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

<iframe width="560" height="315" src="https://www.youtube.com/embed/9O15k6Me0EY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

## Infos pratiques:

👕 Venez comme vous êtes (tenue confortable et chaussures plates recommandées pour danser sans limites !)

🌎 Ouvert à tout le monde : Peu importe l’âge, le niveau de danse ou si vous venez seul·e ou accompagné·e !
