---
title: "pratique Forró 💃🇧🇷🕺"
startDate: "{{.Date}}T20:30:00+02:00"
endDate:   "{{.Date}}T22:30:00+02:00"
place: Pachamama's, 1 passage d'Osthouse
city: Strasbourg
price: gratuit (ou 2€)
description: "pratique forró au Pachamama's 💃🇧🇷🕺"
banner: "/evenements/banners/pachamamas.jpeg"
social_media:
  facebook: 

facebook_site: "61562489966778"
facebook_author: "topmoumoute"
---

Notre deuxième pratique de forró au Pachamama's approche à grands pas.

{{.LongDateCapitalized}}, nous nous ferons un plaisir de vous retrouver pour danser le forró ensemble de 20h30 à 22h30.

Pour les nouveaux, n'ayez pas peur, vous aurez déjà des bases d'ici là et nous nous tiendrons à disposition pour vous encourager et pour danser avec vous si vous le souhaitez !

L'entrée est gratuite pour nos élèves à jour dans le règlement de leur inscription. Nous demandons une participation aux frais de location de 2€ pour les autres.  
Nous espérons vous retrouver nombreux {{.LongDate}} au Pachamama's pour faire fuir les brumes et autres pluies automnales dans une ambiance nordestine !
Até breve!

🌍 https://forrostrasbourg.fr/evenements/241127
